#top_menu li{
	display:inline-block;
	font: bold 14px tahoma;
	padding:30px;
    list-style:circle;
    pa
}
#top{
    background-color: auto;
    margin-left: 5px;
    padding:auto;
}


#cont{
    background-color: whitesmoke;
    height: 800px;
    width: 1500px;

}
#tear{
    text-align: center;
    background-color: darkgray;
    height: 100px;
}
span {
    content: "\2192";
  }
  #teat{
      background-color: darkgray;
      height: 150px;
  }